* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-div {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: #0a53be;
}

.eu-correndo {
  position: absolute;
  width: 16.5%;
  bottom: 0;
}

.name {
  font-family: Ubuntu, sans-serif;
  color: white;
  font-size: 30pt;
}

.game-div .name{
  text-align: center;
}