* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-div {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: #0a53be;
}

.eu-correndo {
  position: absolute;
  width: 16.5%;
  bottom: 0;
}

.name {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 60pt;
  transform: skewY(-12deg);
  padding-top: 2rem;
}

.i-am {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 40pt;
  transform: skewY(-12deg);
  letter-spacing: 0.6rem;
  padding: 0;
}

.game-div .name, .i-am{
  text-align: center;
}